<header>
  <%= link_to "Back to #{currrent_user.name}", user_path %>
</header>

<h3 class='headline'>Ideas for <%="#{@user.name}"%></h3>

<% @ideas.each do |idea| %>
  <section class='ideas'>
    <p><%= link_to "#{idea.name}", user_idea_path(@user, idea) %>: <%= idea.description %></p>
  </section>
<% end %>
