<h3 class='headline'>Welcome, <%= @user.name %>!</h3>

<%= link_to "Create a new idea", new_user_idea_path(@user) %>


<% @ideas.each do |idea| %>
  <section class='ideas'>
    <p><%= link_to "#{idea.name}", user_idea_path(@user, idea) %>: <%= idea.description %></p>
  </section>
<% end %>
