<h2 class='headline'>All Categories</h2>

<section class='categories'>
  <% @categories.each do |category| %>
    <p><%= link_to "#{category.name}", admin_category_path(category) %></p>
    <p><%= link_to "Delete this category", admin_category_path(category), method: :delete %></p>
  <% end %>
</section>
