<h2 class='headline'>All Images</h2>

<h3><%= link_to "Create a new image", new_admin_image_path %></h3>

<section class='images'>
  <% @images.each do |image|  %>
  <p><%= image.name %></p>
  <%= image_tag(image.url, size: "150x100", alt: image.name ) %>
  <p><%= link_to "Delete this image", admin_image_path(image), method: :delete %></p>
  <% end %>
</section>
