<%= link_to "All Categories", categories_path %>

<h2 class='headline'><%= @category.name %></h2>

<p><%= @category.description %></p>

<section class='ideas'>
  <% @ideas.each do |idea| %>
  <li><%= link_to "#{idea.name}", user_idea_path(current_user, idea) %></li>
  <% end %>
</section>
