<h2 class='headline'>All Images</h2>

<section class='images'>
  <% @images.each do |image|  %>
    <%= image_tag(image.url, size: "150x100") %>
    <%= link_to "#{image.name}", image_path(image) %><br><br>
  <% end %>
</section>
