<h3 class='headline'><%= @image.name %></h3>

<%= image_tag(@image.url, size: "400x300") %>
<% @image.ideas.each do |idea| %>
  <%= link_to "#{idea.name}", user_idea_path(current_user, idea) %>
<% end %>
